//
// Nav Accessibility
//
// ========================================================================

/*!
 * Only display content to screen readers
 */
.#{$nav-namespace}-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*!
 * Use in conjunction with nav-sr-only to only display content when it's focused.
 */
.#{$nav-namespace}-sr-only-focusable:active,
.#{$nav-namespace}-sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
