//
// Nav Base
//
// ========================================================================

* {
  box-sizing: border-box;
}

.#{$nav-namespace} {
  position: relative;

  &-toggle {
    &:focus {
      outline: none;
    }
  }

  &-levels a,
  a {
    &,
    &:hover {
      text-decoration: none;
    }

    &,
    &:focus {
      outline: none;
    }
  }

  &-nav {
    z-index: $nav-nav-z-index;
    display: block;
  }

  &-brand {
    z-index: $nav-brand-z-index;
    vertical-align: middle;
  }

  &-menu,
  &-submenu,
  &-infos {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-menu-item,
  &-submenu-item,
  &-info {
    display: block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
  }

  &-submenu {
    display: none;
  }

  &-item-inner {
    display: inline-block;
  }

  &-caret {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    vertical-align: middle;
    transition: transform $nav-transition-duration $nav-transition-function;
    speak: none;
  }

  &-active {
    > .#{$nav-namespace}-submenu {
      display: block;
    }
  }

  &-clearboth {
    &::before,
    &::after {
      display: table;
      clear: both;
      content: "";
    }
  }
}

@include max_screen($nav-viewport-breakpoint) {
  .#{$nav-namespace}-flex-bottom {
    margin-top: auto;
  }
}

@include min_screen($nav-viewport-breakpoint-min) {
  .#{$nav-namespace}-desktop-flex-bottom {
    margin-top: auto;
  }
}
