//
// Nav Container
//
// ========================================================================

.#{$nav-namespace}-container {
  @include min_screen($nav-viewport-md) {
    max-width: $nav-container-width-md;
  }

  @include min_screen($nav-viewport-lg) {
    max-width: $nav-container-width-lg;
  }

  max-width: $nav-container-width-sm;
  margin-right: auto;
  margin-left: auto;
}
