//
// Nav Grid
//
// ========================================================================

@mixin make-cols($size, $columns: $nav-grid-columns) {
  @if $size > 0 {
    @include make-cols($size - 1);
    .#{$nav-namespace}-col-#{$size} {
      @include make-col-span($size);
    }
  }
}

@mixin make-row($gutter: $nav-grid-gutter) {
  margin-right: ($gutter / -2);
  margin-left: ($gutter / -2);
}

@mixin make-col($gutter: $nav-grid-gutter) {
  min-height: 1px;
  padding-right: ($gutter / 2);
  padding-left: ($gutter / 2);
}

@mixin make-col-span($size, $columns: $nav-grid-columns) {
  width: percentage($size / $columns);
}

@include min_screen($nav-viewport-breakpoint-min) {
  .#{$nav-namespace}-grid {
    @include make-cols($nav-grid-columns);
    .#{$nav-namespace} {
      &-row {
        @include make-row();

        &::before,
        &::after {
          display: table;
          clear: both;
          content: "";
        }
      }

      &-submenu-grid {
        position: initial;
      }
    }

    [class*="#{$nav-namespace}-col-"] {
      @include make-col();
      float: left;
      min-height: 1px;
    }
  }
}
