//
// Nav Helper
//
// ========================================================================

.#{$nav-namespace}-always {
  &-align-left {
    text-align: left !important;
  }

  &-align-center {
    text-align: center !important;
  }

  &-align-right {
    text-align: right !important;
  }

  &-align-top {
    vertical-align: top !important;
  }

  &-align-middle {
    vertical-align: middle !important;
  }

  &-align-bottom {
    vertical-align: bottom !important;
  }

  &-flex-inverse {
    display: flex !important;
    flex-direction: row-inverse;
  }

  &-flex-vertical {
    display: flex !important;
    flex-direction: column;
  }
}

@include max_screen($nav-viewport-breakpoint) {
  .#{$nav-namespace} {
    &-hide {
      display: none !important;
    }

    &-align-left {
      text-align: left !important;
    }

    &-align-center {
      text-align: center !important;
    }

    &-align-right {
      text-align: right !important;
    }

    &-align-top {
      vertical-align: top !important;
    }

    &-align-middle {
      vertical-align: middle !important;
    }

    &-align-bottom {
      vertical-align: bottom !important;
    }

    &-flex-inverse {
      display: flex !important;
      flex-direction: row-inverse;
    }

    &-flex-vertical {
      display: flex !important;
      flex-direction: column;
    }
  }
}

@include min_screen($nav-viewport-breakpoint-min) {
  .#{$nav-namespace}-desktop {
    &-hide {
      display: none !important;
    }

    &-align-left {
      text-align: left !important;
    }

    &-align-center {
      text-align: center !important;
    }

    &-align-right {
      text-align: right !important;
    }

    &-align-top {
      vertical-align: top !important;
    }

    &-align-middle {
      vertical-align: middle !important;
    }

    &-align-bottom {
      vertical-align: bottom !important;
    }

    &-flex-inverse {
      display: flex !important;
      flex-direction: row-inverse;
    }

    &-flex-vertical {
      display: flex !important;
      flex-direction: column;
    }
  }
}
