<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/core/dist/css/core.css' }}">
    <title>{{ _target.label }} | Sample Preview</title>
</head>
<body>

{{{ yield }}}

</body>
</html>